<h1 class="top-page">
  ようこそ <b class="important">Bookers</b> へ!
</h1>
<div class="top-page-text">
  <p><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
  <div class="start_link">
    <%= link_to "Start", books_path %>
  </div>
</div>

